# proof document and outline
IsarMathLib/output/

# binaries produced by GHC
isar2html/dist/

# generated part of isarmathlib site
isar2html/isarhtml/*.html
isar2html2.0/isarhtml/*.html

#except the index file
!isar2html/isarhtml/index.html
!isar2html2.0/isarhtml/index.html

# build artifacts produced by .net
isar2html2.0/src/isar2html/bin
isar2html2.0/test/isar2htmlTest/bin

# handy link to isar2html executable
isar2html/ih
isar2html2.0/ih

#isabelle produced backup files
IsarMathLib/*.thy~


# vscode
.vscode
isar2html2.0/.vscode
isar2html2.0/*/*/bin
isar2html2.0/*/*/obj

#intellij
.idea
